
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body {
        font-family: "Open Sans", sans-serif;
    }
        ul, ol, li {
            list-style: none;
        }
    .header  {
        position:relative ;
        display:block;
        left: 0px;
        top: 0px;
        justify-content: space-around;
        background: url(../img/image\ 1.svg);
        width: 100%;
        height: 700px;
    }
    .header span{
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color:#FFFFFF;
    }
    .header h1{
        margin-top: 200px;
        margin-right: 50%;
        align-items: left;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 88px;
        color:#FFFFFF;
    }
    .header p{
    Font size: 35px;
    Align: Left;
    margin-top:1%;
    color:#ffffff;
    
    }
    .seta1{
        padding-top: 40px;
        padding-left: 20px;
       background-image:;
        background-repeat:no-repeat;
        position:absolute;
        background-position: 1px 20px ;     
    border-radius: 10px solid #FFFFFF;
box-sizing:border-box;
    }
        .seta2{
        padding-top: 40px;
        padding-left: 170px;
        background-image:;
        background-repeat: no-repeat;
        background-position: 150px 30px ;
        background-size: 50px;
        }
    .section-inicial{
        padding-top: 50px;
        padding-left: 50px;
    }
    .div-section-inicial{
        position: absolute;
        width: 704px;
        height: 560px;
        left: 80px;
    }
    .section-inicial-texto{
        padding-left: 50%;
    }
    .section-inicial-texto h3{
       display:block;
       font-size: 52px;
       padding-left: 15%;
       color:#0B1D03;
    }
    .section-inicial-texto p{
        display:block;
        font-size: 32px;
        padding-left: 15%;
        padding-right: 5%;
        margin-top: 2%;
        color:#0B1D03;
     }
     .aside-primaria{
        padding-top: 50px;
        padding-left: 50px;
     }
     .aside-primaria-texto{
   display: block; 
   position: absolute;
   width: 700px;
   height: 100px;
   left: 70px;
   top: 1324px;
   padding-top: 4%;
     }
     .aside-primaria-texto h3{
        font-size: 56px;
       color:#0B1D03;
       padding-bottom: 20px;
       padding-left:15%;

     }.aside-primaria-texto p{
        display:block;
        font-size: 32px;
        padding-left: 15%;
        padding-right: 5%;
        margin-top: 2%;
        color:#0B1D03; 
     }
     .aside-primaria-imagem{
        display: block; 
        position: absolute;
        width: 500px;
        height: 100px;
        left: 70px;
        padding-right: 5%;
        top: 1324px;
        padding-top: 4%;
        padding-left: 48%;
    
     }
     .section-cafes h3{
        display:block; 
         position: absolute;
         width: 700px;
         height: 300px;
         left: 70px;
         top:1600px;
         font-size: 52px;
         margin-top:6%;
          
     }
     .div-section-cafes{
         display:block; 
         position: absolute;
         width: 400px;
         height: 500px;
         left: 70px;
         top: 2000px;
         margin-top: 10%;
         padding-left: 2%; 
        background: #F7F1E6;
     }
     .div-section-cafes li{
        margin-left: 28%;
        padding-bottom: 15px;
     }
     .div-section-cafes2 li{
        margin-left: 28%;
        padding-bottom: 15px;
     }
     .div-section-cafes3 li{
        margin-left: 28%;
        padding-bottom: 15px;
     }

     .section-cafe-texto h3{
        Width:581px;
        Height :60px;
        Top:1800px;
        Left:80px;
        padding-top: 150px;
        font-size: 56px;
        color:#A0996C;
     }
     .nome-cafe{
         margin-top: 30px;
         margin-bottom: 30px;
         margin-left: 25px;
         color: #0B1D03;
         font-size: 24px;

     }
     .promo{
       color:#0B1D03;
       position: static;
       float: left;
       left: 32.24%;
       right: 49.46%;
       top: 70%;
       bottom: 20.86%;
       margin-left:15%;
       font-style: normal;
       font-weight: bold;
       font-size: 32px;
       line-height: 40px;
       
     }
     .preco{
       position: absolute;
       margin-left:40%;
       font-style: normal;
       font-weight: 500;
       font-size: 24px;
       line-height: 28px;
     }
     .botao{
        position: absolute;
        height: 76px;
        width: 300px;
        left: 0px;
        right: 0px;
        margin-left: 12%;
        top: 80%;
        background: #0B1D03;
        color:#FFFFFF;
        border-radius: 4px;
     }
     .div-section-cafes2{
        display:block; 
        position: absolute;
        width: 400px;
        height: 500px;
        left: 38%;
        top: 2000px;
        margin-top: 10%;
        padding-left: 2%; 
       background: #F7F1E6;
    }
   
    .div-section-cafes3{
        display:block; 
        position: absolute;
        width: 400px;
        height: 500px;
        left: 70%;
        top: 2000px;
        margin-top: 10%;
        padding-left: 2%; 
       background: #F7F1E6;
    }
    .div-section-cafes3 li{
        margin-left: 28%;
        padding-bottom: 15px;
     }
     .div-section-cafes4{
        display:block; 
        position: absolute;
        width: 400px;
        height: 500px;
        left: 70px;
        top: 2500px;
        margin-top: 15%;
        padding-left: 2%; 
       background: #F7F1E6;
    }
    .div-section-cafes4 li{
        margin-left: 28%;
        padding-bottom: 15px;
     }
     .div-section-cafes5{
        display:block; 
        position: absolute;
        width: 400px;
        height: 500px;
        left: 38%;
        top: 2500px;
        margin-top: 15%;
        padding-left: 2%; 
       background: #F7F1E6;
    }
    .div-section-cafes5 li{
        margin-left: 28%;
        padding-bottom: 15px;
     }
     .div-section-cafes6{
        display:block; 
        position: absolute;
        width: 400px;
        height: 500px;
        left: 70%;
        top: 2500px;
        margin-top: 15%;
        padding-left: 2%; 
       background: #F7F1E6;
    }
    .div-section-cafes6 li{
        margin-left: 28%;
        padding-bottom: 15px;
     }
     .aside-pagamentos{
        position: absolute;
        width: 1438px;
        height: 120px;
        left: 80px;
        top: 3344px;
     }
     .div-aside-pagamentos{
         display:flex;
         top:1500px;
     }
     .div-aside-pagamentos-texto p{
         display:flex;
         padding-top:50px ;
         
     }
     .entrega{
         background-image: url(../img/image\ 3.png);
         background-repeat: no-repeat;
         position: absolute;
         left: 5.4%;
         right: 37.4%;
         top: 0%;
         bottom: 66.67%;
     }
     .entrega p{
         padding-top: 50px;

     }
     .pagamento{
        background-image: url(../img/image\ 3.svg);
        margin-left: 15%;
        background-repeat: no-repeat;
        left: 200px;
        right: 3.4%;
        top: 0%;
        bottom: 66.67%;
        padding-left: -1%;
     }
     .pagamento p{
        padding-top: 50px;
     }