* {
   padding: 0;
   margin: 0;
   vertical-align: baseline;
   list-style: none;
   border: 0;
   max-width: auto;
   max-height: ;
   text-decoration: none;
}
 body{
   background-color:#FFFCF6;
 }  
      
   .header  {
       position: ;
       display:block;
       background: url(../img/image\ 1.svg);
       width: 100%;
      height: 450px;
      /* max-height: 350px;
      min-height: 350px;*/
   }
   .header span{
       display:flex;
       margin-top: -1%;
       align-items: center;
       justify-content: center;
       font-size: 28px;
       color:#FFFFFF;
   }
   .compras {
      display:;
     float:right;
     margin-top: -3%;
     margin-right: 5%;
   }
   .header h1{
       margin-top: 40px;
      /* margin-right: 50%;
       align-items: left;
       font-style: normal;
       font-weight: bold;
       line-height: 88px;*/
       margin-left:3%;
       font-size: 35px;
       
       color:#FFFFFF;
   }
   .header p{
   Font size: 5px;
   Align: Left;
   margin-top:2%;
   margin-left:3%;
   color:#ffffff;
   
   }
   .circ-seta{
      padding-left: 5%;
      padding-top: 2%;
      display:flex;
     /* height: 50px;*/
   }
  /* .circ-seta img{
      position:absolute
   }
   .seta1{
      padding-left: 1.5%;
      padding-top:1.5%;
           

   }*/
        
   .circ-seta2{
      padding-left: 2%;
      display:flex;
      
   }
   .circ-seta2 img{
      position:absolute;
   }
   .seta2{
      padding-left: 1.6%;
      padding-top:1.5%;
        
   }
   .circulo2{
      position: absolute;
      width: 50px;
      

   }
  
   .menu1{
      display: flex;
      padding-top:2%;
      margin-left: 6%;
      width: 20px;
   
   }
   .menu2{
      display:flex;
      margin-left: 6%;
      margin-top: 0.5%;
   }
   .menu3{
      display:flex;
      margin-left: 6%;
      margin-top: 0.5%;
   }

     
   
   .header---{
      display:flex;
      margin-left: 5%;
      margin-top:1px;
      
   }
  
     
   .section-inicial{
       padding-top: 50px;
       padding-left: 50px;
       display:flex;
   }
   .div-section-inicial{
       left: 80px;
       display: flex;
       margin-top: 80px;
       padding-left: 50px;
       padding-right: 50px;
   }
   .div-section-inicial img{
      width:450px ;
   
   }
   .section-inicial-texto{
       color:#0B1D03;
       padding-top: 9%;
       padding-left: 2%;
       margin-right: 6%;

   }
   .section-inicial-texto h3{
      font-size: 56px;
      padding-bottom: 20px;
      padding-left:20%;
      color:#0B1D03;
     
   }
   .section-inicial-texto p{
      font-size: 40px;
      color:#0B1D03;
      padding-bottom: 20px;
      padding-left:20%;
       color:#0B1D03;
       margin-bottom: 2%;
      
    }
    .aside-primaria{
       display:flex;
       padding-top: 0px;
       padding-left: ;
    }
    .aside-primaria-texto{
 
       color:#0B1D03;
       padding-top: 9%;
       padding-left: 5%;
    }
    .aside-primaria-texto h3{
       font-size: 56px;
      color:#0B1D03;
      padding-bottom: 20%;
      padding-left:15%;

    }.aside-primaria-texto p{
      display:flex;
       font-size: 32px;
       padding-left: 5%;
       padding-right: 20%;
       margin-top: %;
       color:#0B1D03; 
    }
    .aside-primaria-imagem{
       margin-top: 10%;
       margin-left: 1%;
       margin-right: 5%;
      
    }
    .aside-primaria-imagem img{
       width: 450px;
       min-width: 200px;
       max-width: 500px;
      
    }
    .section-cafe-texto h3{
        
        font-size: 42px;
        margin-top:6%;
        padding-left:10%;
         
    }
    .section-cafes{
      display:;
    }
    .menu-cafe{
       display:flex;
       justify-content: space-between;
       margin-right: 5%;
    }
    .menu-cafe1{
      display:flex;
      justify-content:space-between;
      margin-right: 5%;

   }
    .div-section-cafes{
      width: 300px;
      min-width: 200px;
        margin-top: 10%;
        margin-left: 5%; 
        padding-right: 2%;
       background: #F7F1E6;

    }
    .div-section-cafes2{
      width: 300px;
      min-width: 200px;
      margin-top: 10%;
        margin-left: 5%; 
        padding-right: 2%; 
      background: #F7F1E6;
   }
  
   .div-section-cafes3{
      width: 300px;
      min-width: 200px;
      margin-top: 10%;
      margin-left: 5%; 
      padding-right: 2%;
      background: #F7F1E6;
   }
   .div-section-cafes4{
      width: 300px;
      min-width: 200px;
      margin-top: 10%;
      margin-left: 5%; 
      padding-right: 2%;
      background: #F7F1E6;
   }
   .div-section-cafes5{
      width: 300px;
      min-width: 200px;
      margin-top: 10%;
      margin-left: 5%; 
      padding-right: 2%; 
      background: #F7F1E6;
   }
   .div-section-cafes6{
      width: 300px;
      min-width: 200px;
      margin-top: 10%;
      margin-left: 5%; 
      padding-right: 2%;
      background: #F7F1E6;
   }
    .div-section-cafes li{
       margin-left: 30%;
       padding-bottom: 15px;
    }
    .div-section-cafes2 li{
       margin-left: 30%;
       padding-bottom: 15px;
    }
    .div-section-cafes3 li{
       margin-left: 28%;
       padding-bottom: 15px;
    }
    .aside-pagamentos-ul{
       margin-top:20%;
       display:flex;
       justify-content: space-around;       
    }
    .aside-pagamentos-ul li{
      justify-content: space-between;
    }

    .section-cafe-texto h3{
      //* Width:581px;
       Height :60px;
       Top:1800px;
       Left:80px;*/
       margin-top:5%;
       font-size: 56px;
       color: #A0996C;
    }
    .nome-cafe{
       display:flex;
        margin-top:5%;
        width: 250px;
        min-width: 150px;
        margin-left:10%;
        color: #0B1D03;
        font-size: 20px;
       
    }
    .nome-cafe h3{
       margin-right: 10%;
    }
    .precos{
       display:flex;
       padding-bottom: 40px;
    }
    .precos p{
        color:#0B1D03;
      padding-left:25%;
      margin-top:5%;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;

    }
    .precos span{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      padding-left: 8%;
      padding-top:8%;
      line-height: 28px;
      color:#969696;

    }
    
   /* .promo{
      color:#0B1D03;
      
      padding-left:25%;
      margin-top:5%;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      display: flex;
      
    }
    .preco{
      text-align:justify;
      padding-left:60%;
      text-align: ;
      display:flex;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height:;
    }*/
    .botao{
      height: 70px;
      width: 90%;
      margin-left:10%;
      left: 0px;
      right: 0px;
      background: #0B1D03;
      color:#FFFFFF;
      border-radius: 4px;
    }
    
   .div-section-cafes3 li{
       margin-left: 28%;
       padding-bottom: 15px;
    }
   
   .div-section-cafes4 li{
       margin-left: 28%;
       padding-bottom: 15px;
    }
   
   .div-section-cafes5 li{
       margin-left: 28%;
       padding-bottom: 15px;
    }
   
   .div-section-cafes6 li{
       margin-left: 28%;
       padding-bottom: 15px;
    }
   /* .aside-pagamentos{
       position: ;
       display:flex;
       top: 110px;
       padding-left: 10%;
       flex-direction: ;
       
    }*/
    /*.div-aside-pagamentos{
        display:flex;
        margin-top: 150px;
        
    }
    .div-aside-pagamentos-texto p{
        display:flex;
        
    }*/
    .cafes-acessorios{
     display: flex;
     width: ;
     height:auto;
     justify-content: space-around;

    }
    .cafes{
        background-image: url(../img/Rectangle20.svg);
        background-repeat: no-repeat;
        margin-top:5%;
        width: 45%;
        margin-left:5%;
        
       }
       .cafes h3{
           padding-top: 50%;
           font-size: 56px;
           color:#FFFCF6;

       }
       .cafes p{
          margin-top:15%;
           font-size: 18px;
           color:#FFFcf6;
       }
       .acessorios{
          float:right;
         background-repeat: no-repeat;
         background-image: url(../img/tiposdecafe.png);
         margin-top:5%;
         margin-left:5%;
         width: 45%;
         margin-right:5%;
      
       }
        .acessorios h3{
        padding-top: 50%;
        font-size: 56px;
        color:#FFFCF6;
    }
    .acessorios p{
        margin-top:15%;
        font-size: 18px;
        color:#FFFcf6;
    }
    .localidade{
       display:;
       margin-top:15%;
    }
    .localidade h3{
       /* Encontre uma loja 

     position: relative;
     width: 470px;
     height: 60px;
     left: 223px;
     top: 3000px;*/
     font-family: Playfair Display;
     font-style: normal;
     font-weight: bold;
     font-size: 56px;
     line-height: 60px;
     color: #0B1D03;


    }
    .div-localidade{
       display:block;
     margin-left:5%;
  }
  .div-localidade imput{
     display:flex;
  }
  .loja{
     margin-top: 5%;
     margin-left:1%;
     float:left;
     border: 2px solid #0B1D03;
     box-sizing: border-box;
     border-radius: 4px;
     height: 76px;
     width: 45%;
     border-radius: 4px;


  }
  .endereco{
   
     margin-top:5%;
     float:right;
     margin-right:5%;
     border: 2px solid #0B1D03;
     box-sizing: border-box;
     border-radius: 4px;
     height: 76px;
     width: 45%;
     border-radius: 4px;
     background-image: url(../img/lupa.png);
     background-repeat: no-repeat;
     background-position: right;
}
   .mapa{
      background-color: #FFFFFF
   }
.mapa-img{
   
   margin-left:5%;
   margin-top: 5%;
   margin-right: 5%;
   width:90%;
   min-width: auto;
}
.footer{
display:flex;
margin-top:80px;
padding-top: 40px;
padding-left: 80px;
justify-content:space-between;
background-color: #F7F1E6;
}
.footer-redes li img{
   margin-left: 50%;


}
.footer-produtos a  {
  color:#1F1F1F;
}
.footer-cofee a{
   color: #1F1F1F;

}
.footer-redes li{
 /*  background-image: url(../img/Circle.png);*/
   background:black;
   width: 40px;
   height: 40px;
   align-items: center;
   border-radius: 20px;
  justify-content:;
   /* centraliza na horizontal */
   display:inline-flex;
   margin-top: 5;
  
}
.footer-redes a {
   color:#1F1F1F;
}
.footer-redes img {
   margin-top:20%;

}
.face{
   padding-left:90%;
}
.rodape{
   margin-top:20px;
   
    display:block;
    background: #F7F1E6;
    width: 100%;
    padding-bottom: 30x; 
    margin-top: 10px; 
    justify-items: flex-end;
 
 }
 .rede  {
    position: center;
    margin-top: 50%;
 }
 .rodape p{
     top:0%;
     margin-top: -10px;
     margin-left: 50%;
 }
